<!-- Form comment remote: true => comments#create -->
  <div class="form new-comment">
    <%= simple_form_for [sub_milestone, Comment.new] do |f| %>
      <%= f.input :content, label: false, placeholder: 'Write a comment and Press enter' %>
    </div>
    <%= f.submit "Send", class: "btn-comment"%>
  <% end %>

