<div class="content-submilestones tab-content hidden" id="sub-<%= sub_milestone.id %>">
  <h2><%= sub_milestone.title %></h2>
    <div class="submilestones">
      <h6>A submilestone</h6>
    </div>
</div>
