<div class="banner-home">
  <div class="banner-content">
    <h2 class="tagline">Keep your project on track</h2>
    <a class="btn-orange-home" data-color-class="main">Start today</a>
  </div>
</div>

<!-- First wrapper with feature-->
<div class="wrapper wrapper-with-columns wrapper-narrow">
  <div class="wrapper-columns">
    <div class="wrapper-column wrapper-column-grow">
      <figure class="illustration illustration-margin">
       <img data-ga-variation="0" src="https://d3ig6ye31m6dj7.cloudfront.net/images/illustration-holding-hands-6336f436.svg" alt="illustration-holding-hands">
       <img data-ga-variation="1" src="https://d3ig6ye31m6dj7.cloudfront.net/images/illustration-lollipops-79a0f639.svg" alt="illustration-lollipops" style="display: none;">
      </figure>
    </div>
  <div class="wrapper-column wrapper-column-main">
    <h1>Title 1</h1>
      <p class="p-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quidem, rem totam possimus, corporis provident.
      </p>
      <p data-ga-variation="1" style="display: none;"> The tool gives you a better understanding of your deadlines, what your team members are up to and whether or not someone needs a hand.
      </p>
      <p>
      <a href="https://app.teamweek.com/#signup" class="btn-orange-home" data-color-class="main">Get started
      </a>
      </p>
    </div>
   </div>
</div>

<!-- Second wrapper with sreen-shot-->
<div class="features-block">
  <div class="features-block-images-container">
    <div class="features-block-image">
      <%= image_tag "testindex.png" %>
    </div>
</div>
  <div class="features-block-navigation">
    <div class="features-menu-container">
      <li>Create tasks super fast</li>
      <li>Simply drag and drop to modify </li>
      <li>See who’s booked and who’s available</li>
      <li>Filter your calendar by projects</li>
    </div>
  </div>
  </div>
</div>

<!-- Third wrapper with feature-->
<div class="wrapper wrapper-with-columns wrapper-narrow">
  <div class="wrapper-columns wrapper-columns-reverse">
    <div class="wrapper-column wrapper-column-grow">
      <figure class="illustration illustration-margin">
        <img data-ga-variation="0" src="https://d3ig6ye31m6dj7.cloudfront.net/images/illustration-bulb-eb9e23bc.svg" alt="illustration-bulb"> <img data-ga-variation="1" src="https://d3ig6ye31m6dj7.cloudfront.net/images/illustration-waffles-59231c8f.svg" alt="illustration-waffles" style="display: none;">
      </figure>
    </div>
  <div class="wrapper-column wrapper-column-main">
    <h1>Title 2</h1>
      <p class="p-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quidem, rem totam possimus, corporis provident.
      </p>
      <p>
      <a href="https://app.teamweek.com/#signup" class="btn-blue-home" data-color-class="main">Get started
      </a>
      </p>
    </div>
   </div>
</div>

<!-- Fourth wrapper with feature-->
<div class="wrapper-blue wrapper-with-columns wrapper-narrow">
  <div class="wrapper-columns">
    <div class="wrapper-column wrapper-column-grow">
      <figure class="illustration illustration-margin">
        <img data-ga-variation="0" src="https://d3ig6ye31m6dj7.cloudfront.net/images/illustration-ghost-013f2959.svg" alt="illustration-ghost">
        <img data-ga-variation="1" src="https://d3ig6ye31m6dj7.cloudfront.net/images/illustration-chat-7d002e63.svg" alt="illustration-chat" style="display: none;">
      </figure>
    </div>
    <div class="wrapper-column wrapper-column-main">
      <h1 data-ga-variation="0">Title 3</h1>
      <p class="p-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quidem, rem totam possimus, corporis provident.
      </p>
      <p data-ga-variation="1" style="display: none;"> Share up-to-date project timelines with your most demanding clients. So they can look up the state of the project anytime.</p>
      <p><span class="btn-transparent-home">Sign up</span></p>
    </div>
  </div>
</div>


