/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.big-padded {
  padding-top: 3em;
  padding-bottom: 3em;
}

.small-padded {
  padding-top: 1em;
  padding-bottom: 1em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.card-form {
  background: #F9F6F6;
  padding: 10px 60px;
  margin: 40px 50px;
  color:#34485C;
}

.form-btn-center {
  margin: 10px auto;
  width: 100px;
}
.btn-center {
  margin: 10px auto;
  width: 180px;
}
.no-underline, .no-underline:hover {
  text-decoration: none;
}

#hide {
  display: none;
}



