/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  border: none !important;
}
.alert-info {
  background: linear-gradient(to left, #085078, #85D8CE);
  border: none !important;
}
.alert-warning {
  background: linear-gradient(to left, #085078, #85D8CE);
  border: none !important;
}
