/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  border: none !important;
}
.alert-info-white {
  background: linear-gradient(to left, #085078, #85D8CE) !important;
  border: none !important;
  padding-top: 86px;
}
.alert-warning-white {
  background: linear-gradient(to left, #085078, #85D8CE) !important;
  border: none !important;
}
