
/* Your button CSS file */
.btn-transparent {
  color: #32485D;
  border: 1px solid #32485D;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: lighter;
}

.btn-transparent:hover {
  background: #32485D;
  text-decoration: none;
  color: white;
}

.btn-orange {
  color: #FD7F6B;;
  padding: 10px 15px;
  background: white;
  border: 1px solid #FD7F6B;
  transition: background 0.3s ease;
}

.btn-orange:hover {
  opacity: 1;
  background: #FD7F6B;;
  text-decoration: none;
  border: 1px solid #FD7F6B;
  color: white;
}

.btn-orange-index-projet {
  color: #FD7F6B;
  padding: 0px 2px;
  background: #F4F7F7;
  border: 1px solid #FD7F6B;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  width: 207px;
  text-align: center;
  cursor: pointer;
  margin-left: 14px;
  margin-bottom: 46px;
  margin-top: 25px;
}

.btn-orange-index-projet:hover{
  opacity: 1;
  background: #FD7F6B;;
  text-decoration: none;
  border: 1px solid #FD7F6B;
  color: white;
}

.btn-normal {
  color:white;
  padding: 10px 40px;
  border-radius: 50px;
  background: #50A1AE;
  text-align: center;
  font-weight: bold;
}

.btn-normal:hover,
.btn-normal:focus {
  box-shadow: 3px 2px 12px #D6D6DB;
  color:white;
  text-decoration: none;
}

.btn-orange-home {
  color: white;
  padding: 20px 25px;
  background: #FD7F6B;
  border: 1px solid #FD7F6B;
  transition: all 0.2s ease;
}

.btn-orange-home:hover {
  opacity: 1;
  background: white;
  text-decoration: none;
  color: $orange;
  padding: 20px 80px;
}

.btn-blue-home {
  color: $blue;
  padding: 20px 25px;
  background: white;
  border: 1px solid $blue;
  transition: all 0.2s ease;
}

.btn-blue-home:hover {
  opacity: 1;
  background: $blue;
  text-decoration: none;
  color: white;
  padding: 20px 80px;
}

.btn-transparent-home {
  color: white;;
  padding: 20px 25px;
  background: $green;
  border: 1px solid white;
  transition: all 0.2s ease;
}

.btn-transparent-home:hover {
  opacity: 1;
  background: white;
  text-decoration: none;
  color: $green;
  border: 1px solid $blue;
  padding: 20px 80px;
}

.button-google {
  line-height: 28px;
  background-color: #dd4b39;
  background-image: url(assets/images/google.png);
  color: white;
  font-size: 20px;
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 13px;
  border-radius: 2px;
  text-decoration: none;
}

.button-google:hover {
  text-decoration: none;
  color: white
}

.button-orange-sign {
  padding: 0px 20px;
  line-height: 40px;
  background-color: $orange;
  border: 1px solid $orange;
  color: white;
  font-size: 14px;
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.4;
  border-radius: 2px;
  margin-bottom: 8px;
}
.button-orange-sign:hover {
  color: $orange;
  background: white;
  border: 1px solid $orange;
  opacity: 0.8;
}

.blabla {
  margin-right: 10px;
}
