.new-card {
  box-shadow: 8px 6px 18px #D6D6DB;
  margin-bottom: 20px;
  height: 280px;
  background: white;
  padding: 30px;
  position: relative;

  h4 {
    font-weight: 100;
  }
}

.new-card:hover {
}


.top-card {
  height: 160px;
  width: 230px;
  border-bottom: 1px solid rgba(93, 160, 162, 0.3);
}

.left-card {
  height: 220px;
  width: 230px;
  border-right: 1px solid rgba(93, 160, 162, 0.3);
}

.company-card {
  height: 80px;
  width: 100px;
}

.users-card {
  position: absolute;
  bottom: 30px;
  .avatar {
    margin-right: -15px;
    border: 3px solid white;
  }
}

.card-add{
  box-shadow: 8px 6px 18px #D6D6DB;
  background-color:#F5F5F5;
  height: 280px;
  background-size: cover !important;
  color: grey;
  position: relative;
  padding: 75px;
  border: 1px solid #D6D6DB;
  text-align: center;
  transition: all 0.1s ease;
  cursor: pointer;
}

.card-plus {
  width: 130px;
  position: relative;
}

 .card-add:hover {
  .card-plus {
    transition: all 0.2s ease;
    width: 135px;
    }
}

.card-comment {
  background-color: white;
  height: 150px;
  width: 200px;
  color: black;
  margin-bottom: 10px;
  padding: 10px;
}

.card-form-sign{
  background:#F5F5F5 ;
  padding: 10px 60px;
  margin-top: 64px;
  font-size: 13px;
  input {
    height: 30px;
    font-size: 13px;
  }
}
