.new-card {
  box-shadow: 8px 6px 18px #D6D6DB;
  margin-bottom: 20px;
  height: 280px;
  background: white;
  padding: 30px;
  position: relative;

  h4 {
    font-weight: 100;
  }
}

.new-card:hover {
 border-right: 6px solid #FD7F6B;

}


.top-card {
  height: 160px;
  width: 230px;
  border-bottom: 1px solid rgba(93, 160, 162, 0.3);
}

.left-card {
  height: 220px;
  width: 230px;
  border-right: 1px solid rgba(93, 160, 162, 0.3);
}

.company-card {
  height: 80px;
  width: 100px;
}

.users-card {
  position: absolute;
  bottom: 30px;
  .avatar {
    margin-right: -15px;
    border: 3px solid white;
  }
}

.card-add{
  box-shadow: 8px 6px 18px #D6D6DB;
  background-color:#F5F5F5;
  height: 280px;
  background-size: cover !important;
  color: grey;
  position: relative;
  padding: 75px;
  border: 1px solid #D6D6DB;
  text-align: center;
  transition: all 0.1s ease;
  cursor: pointer;
}

.card-plus {
  width: 130px;
  position: relative;
}

 .card-add:hover {
  .card-plus {
    transition: all 0.2s ease;
    width: 135px;
    }
}

.card-comment {
  background-color: white;
  position: absolute;
  top: 0px;
  right: 10px;
  height: 450px;
  width: 50%;
  color: black;
  margin-bottom: 10px;
  padding: 10px;
  // display: none;
  overflow-y: scroll;
  .comment {
    margin: 5px 0px;
    background-color: #F4F7F7;
    box-shadow: 3px 2px 6px #D6D6DB;
    margin: 5px 0px;
    padding: 3px;
  }
  .avatar {
    width: 30px;
  }
  p {
    font-size: 18px;
  }
}

.card-form-sign{
  background:#F5F5F5 ;
  padding: 10px 60px;
  margin-top: 64px;
  font-size: 13px;
  input {
    height: 30px;
    font-size: 13px;
  }
}


.card-delete {
  position: absolute;
  top: 10px;
  right: 10px;
}

#index {
  position: relative;
}

.filter {
  position: absolute;
    top: 25px;
    right: 10px;
}

#radio-1 {
    margin-left: 10px;
    margin-right: 5px;
}

#radio-2 {
    margin-left: 10px;
    margin-right: 5px;
}

input[type=radio] {
    display: none;
  }

    input[type=radio] + label {
    width: 146px;
    height: 41px;
    border: 1px solid #4e5d71;
    // border-radius: 6px;
    color: #34485C;
    color: $blue;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin-right: 20px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
  }

    input[type=radio]:checked + label {
    border: 1px solid #84D7CD;
    color: #84D7CD;
  }
