.container-general{
  max-width: 1230px;
  display: flex;
  margin: 0 auto;
  margin-top: 60px;
}

.li-team {
  background-color: white;
  box-shadow: 8px 6px 18px #D6D6DB;
  padding: 20px 10px;
}

.add-milestone {
  display: -webkit-box;
}

.project-title{
  margin-top: 20px;
}

.project-deadline {
  background-color: $blue;
  text-align:center;
  color:white;
  padding-top: 6px;
  height: 32px;
}

.ol-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.milestone-recap {
  text-align:center;
  margin-top: 22px;
  background-color: white;
  box-shadow: 8px 6px 18px #D6D6DB;
  padding: 10px 10px;
  cursor: pointer;
}

.li-milestone {
  background-color: white;
  box-shadow: 8px 6px 18px #D6D6DB;
  padding: 10px;
  height: 65px;
  margin: 12px 0px;
  cursor: pointer;
  position: relative;
}

.progress-bar {
  background-color: #FD7F6B;
}

.progress{
  background-color: #D6D6D6;
}

.content-milestones.tab-content {
  margin: 15px 30px;
}

.team {
  .avatar {
    margin-right: -15px;
    border: 3px solid white;
  }
}

.title {
  list-style-type: none;
  padding-left: 52px;
  padding-top: 14px;
}

.fa-trash{
  position: absolute;
  right: 10px;
  bottom: 37px;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}

.submilestones {
  margin: 50px;
  position: relative;
  .form {
    width: 50%;
    input[type="text"] {
      padding: 10px;
      border: none;
      border-bottom: solid 2px #c9c9c9;
      transition: border 0.3s;
    }
    input[type="text"]:focus,
    input[type="text"].focus {
    border-bottom: solid 2px #969696;
    }
    input[type="text"] {
      display: block;
      margin: 0;
      width: 100%;
      font-family: sans-serif;
      font-size: 18px;
      appearance: none;
      box-shadow: none;
      border-radius: none;
    }
    input[type="text"]:focus {
  outline: none;
    }
  }
}

.form.new-comment {
  width: 100%;
}

.submilestones .form input[type="text"] {
  font-size: 16px;
  padding: 0px;
}

.submilestone-card {
    background-color: #EEEFF1;
    margin-bottom: 10px;
    margin-left: 14px;
    margin-right: 25px;
    position: relative;
  p {
    cursor: pointer;
    font-size: 12px;
  }
}

.btn-comment {
  display:none;
}

.content-milestones{
  background-color: white;
  box-shadow: 8px 6px 18px #D6D6DB;
  // position: relative;
  min-height: 588px;
    h2{
      margin-left: 15px;
      color: #5DA0A2;
      padding-top: 10px;
    }
    p{
      margin-left: 30px;
    }
}

.contentleft{
  display: flex;
  flex: 1;
}

#submilestone-create{
  padding-bottom: 15px;
}

.team-members{
  background-color: #ACD0D1;
  text-align:center;
  color:white;
  padding-top: 6px;
  height: 32px;
}

.showproject{
  margin-bottom: 20px;
}

#ActionAddingAmilestone:hover{
  background-color: $blue;
  color: white;
  transform: scale(0.9);
  transition: all .2s ease-in-out;
}

.editproject{
  background-color: white;
  box-shadow: 8px 6px 18px #D6D6DB;
  padding: 10px;
  margin: 12px 0px;
  cursor: pointer;
  position: relative;
  text-align: center;
}
.destroyproject{
  background-color: white;
  box-shadow: 8px 6px 18px #D6D6DB;
  padding: 10px;
  margin: 12px 0px;
  cursor: pointer;
  position: relative;
  text-align: center;
}
.border{
  height: 1px;
  margin-left: 15px;
  widht: 12px;
  width: 400px;
  background-color: $blue;
  opacity: 0.6;
  margin-bottom: 30px;
}

.formsubmilestone{
  margin-left: 15px;
}

.checkboxcard{
  padding-left: 10px;
}

.display-files{
  cursor:pointer;
}


