.new-card {
  box-shadow: 8px 6px 18px #D6D6DB;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 20px;
}

.new-card:hover {
  .top-card {
    height: 30px;
    transition: 0.5s ease;
  }
  .bottom-card {
    height: 230px;
    transition: 0.5s ease;
  }
  img.company-card {
    display: none;
  }
}

.top-card {
  height: 180px;
  background: linear-gradient(to left, #085078, #85D8CE);
  position: relative;
  border-radius: 5px 5px 0px 0px;
}

.company-card {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 50px;
  left: 230px;
}

.bottom-card {
  height: 80px;
  padding: 20px;
  position: relative;
 }

.users-card {
  position: absolute;
  right: 30px;
  bottom: 20px;
  .avatar {
    margin-right: -15px;
    border: 2px solid white;
  }
}

.deadline {
  position: absolute;
  right: 5px;
  top: 5px;
  color: white;
  font-weight: bolder;
}
