.container-general{
  background-color:white;
  max-width: 1230px;
  display: flex;
  margin: 0 auto;
  margin-top: 60px;
}

.sidebar{
  background-color:#F1F1F1;
  box-shadow: -5px 0px 12px #D6D6DB;
  margin: 0 10px 0 0;
  width: 240px;
}

.logo-client{
  margin: 20px;
}

.project-title{
  padding-top: 10px;
}

.project-deadline{
  background-color: $orange;
  padding-top: 12px;
  color: white;
  padding: 10px 20px;
}

.ol-navigation{
  list-style: none;
  margin: 0;
  padding: 0;
}

.li-milestone-recap{
  height: 135px;
  text-align:center;
}

.li-milestone{
  border-bottom: 0.5px solid $blue;
  height: 60px;
  display:flex;
}

.icon{
  padding: 20px;
  margin-right: 10px;
}

.title {
  list-style-type: none;
  margin-top: 15px;
  padding-left: 5px;
}
.progress-bar{
  border: 0.2px solid black;
  width: 155px;
  height: 10px;
  list-style-type: none;

}

.submilestones{
  margin-left: 50px;
  margin-top: 47px;
}



.content-milestones{
  background-color: #F1F1F1;
  box-shadow: 5px 0px 1px #D6D6DB;
  flex: 1;
    h2{
      margin-left: 30px;
      border-bottom: 1px solid grey;
    }
}

